{% extends "base.html.twig" %}

{% block body %}
<h1>Welcome Mr {{ app.user.firstName}} </h1>
<h1>Welcome, {{ app.user.email}} </h1>
<h1>Welome to our homepage 22</h1>

<h1>Welome to our shop. Today is <strong>{{day}}</strong></h1>
{%endblock%}